html, body, ul, li, img, div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

body {
  text-align: center;
}

ul {
  list-style: none;
}

img {
  margin: 0 auto;
  cursor: -webkit-grab;
  cursor: grab;
}

img:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  z-index: 2;
}

.group {
  content: "";
  clear: both;
  display: block;
}

.grid {
  margin: 10px 0;
  display: inline-block;
  cursor: grab;
}

.row {
  width: 496px;
}

.square {
  width: 60px;
  height: 60px;
  border: 1px solid #000;
  float: left;
}
